@model List<Contact>
<table class="table">
    <thead>
        <tr>
            <th>Contact Id</th>
            <th>Image</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Contact number</th>
            <th>Email address</th>
            <th>Company name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.ContactId</td>
                <td>
                    <img src="@Url.Content("~/Uploads/"+@contact.FileName)" alt="Image" width="100" height="80" />
                </td>
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                <td>@contact.ContactNumber</td>
                <td>@contact.Email</td>
                <td>@contact.Company</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@contact.ContactId">Edit</a> | 
                    <a asp-action="Details" asp-route-id="@contact.ContactId">Details</a> | 
                    <a asp-action="Delete" asp-route-id="@contact.ContactId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>